/*
 * Copyright (c) 2024 CATIE
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 
&sixtron_i2c {
	status = "okay";

	rv_8803_c70: rv-8803-c7@32 {
		compatible = "microcrystal,rv-8803-c7";
		reg = <0x32>;
	};
};
