# RV_8803_C7 driver configuration

# Copyright (c) 2024 CATIE
# SPDX-License-Identifier: Apache-2.0

menuconfig RTC_RV8803
    bool "RV-8803 peripheral RTC"
    default y
    depends on DT_HAS_MICROCRYSTAL_RV8803_RTC_ENABLED
    select MFD
    help
      Enable driver for MICRO CRYSTAL RV-8803 smt RTC module on i2c-bus
